*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
.header{
  width: 100%;
  height: 100vh;
  background: url("/public/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.navbar{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #1f2235;
  z-index: 1;
}
.navbar_container{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.navbar_left-logo img{
  width: 110px;
}
.navbar_right{
  display: flex;
  list-style-type: none;
}
.navbar_right li a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
}
.container{
  width: 1200px;
  margin: 0 auto;
}

/* .bgMain{
  background: #23263a;
} */

/* Grid System */
.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-6{
  width: 50%;
}
.col-4{
  width: 33.33333333333333%;
}
.header__content{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  margin-top: 100px;
}
.header__ul{
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}
.header__ul li{
  width: 50px;
  height: 50px;
  border: 2px solid #ff4a57;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 10px;
  font-size: 18px;
}
.header__ul li:first-child{
  margin-left: 0;
}
.header__section h1{
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header__section p{
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
}
.header__buttons{
  margin-top: 25px;
}
.btn{
  outline: none;
  border: none;
  color: white;
  text-decoration: none;
}
.btn-outline{
  border: 2px solid #ff4a57;
  padding: 13px 40px;
  border-radius: 50px;
}
.btn-smart{
  background: #ff4a57;
  padding: 13px 40px;
  border-radius: 50px;
  
}
.play{
  font-size: 16px !important;
  padding-top: 10px;
}
.banner__img{
  margin-top: 150px;
  padding: 0 30px;
}
.about__img{
  margin-top: 20px;
  padding: 0 30px;
}
.services{
  background: #1f2235;
  padding: 100px 0;
  color: white;
}
.about{
  background: #24263B;
  padding: 100px 0;
  color: white;
}
.common{
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
.heading{
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #ff4a57;
}
.mainHeader{
  font-size: 32px;
  margin-bottom: 20px;
}
.mainContent{
  font-size: 16px;
  color: #dfdfdf;
}
.commonBorder{
  background: #ff4a57;
  height: 3px;
  width: 60px;
  margin: 30px auto;
}
.services__box{
  padding: 40px;
  background: #23263a;
  color: white;
  margin: 20px;
}
.commonIcons{
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}
.services__box-header{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services__box-p {
  font-size: 16px;
  color: #dfdfdf;
}
.aboutRow{
  width: 100%;
  /* height: 100vh; */
  display: flex;
  overflow: hidden;
  
}
.about-col-4{
  width: 33%;

}
.about-col-8{
  width: 60%;
  /* margin-top: 50px; */
  margin: 80px 45px;
}
.about__heading{
  font-size: 30px;
  margin: 20px 0;
}
.about_paragraph{
  font-size: 16px;
  width: 60%;
  text-align: left;
  margin: 20px 0;
}
.aboutTable{
  margin-top: 20px;
  width: 900px;
  padding-top: 25px;
}
.table__heading1{
  color: #ff4a57;
  font-weight: 700;
  
}
.table__heading2{
  color: #ff4a57;
  font-weight: 700;  
}
.contact_details{
  display: flex;
  margin-top: 20px;
}
.contact_heading{
  color: #ff4a57;
  font-size: 16px;
}
.aboutRight{
  margin: 0 250px;
}
